<script> 
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>
<h1>When will I reach level 40?</h1>
<form class="pure-form pure-form-stacked" method="POST" action="result">
    <fieldset>
        <div class="form-group">
            <label>When did you start playing Pokémon Go</label>
            <input id="datepicker" name="startDate" type="text" required />
        </div>

        <div class="form-group">
            <label>Current level</label>
            <input type="number" min="1" max="40" name="level" required />
        </div>

        <div class="form-group">
            <label>Current XP</label>
            <input type="text" min="0" max="5000000" name="currentXP" required />
        </div>    
        
        <div class="form-group"> 
            <input class="pure-button pure-button-primary" type="Submit" value="Calculate" />
        </div>
    </fieldset>
</form>
