<script> 
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>
<h1>When will I reach level 40?</h1>
<form class="pure-form pure-form-stacked" method="POST" action="result">
    <fieldset>
        <label>When did you start playing pokemon</label>
        <input id="datepicker" name="startDate" type="text">

        <label>Current level</label>
        <input type="number" min="1" max="40" name="level" />

        <label>Current XP</label>
        <input type="text" min="0" max="5000000" name="currentXP"/>
        <input class="pure-button pure-button-primary" type="Submit" value="Calculate" />
    </fieldset>
</form>
